version: '3.8'
services:
  web:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./www:/usr/share/nginx/html:ro
    container_name: automation-cango-app-empire
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
